<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "swaggerConfigurationDocket" class = "prsen.library.Docket">
    </bean>

    <bean id="credentials" class="prsen.library.database.jdbc.H2DatabaseCredentials">
        <property name="url" value="jdbc:h2:mem:testdb"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
        <property name="driver" value="org.h2.Driver"/>
    </bean>

</beans>